.container-game{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;// size container to approximately 16:9 (widescreen) ratio
  background-color: gray;
  border-radius: 1em;
}
@media (orientation: landscape){
  .container-game{
    width: unset;
    height: 100%;
    aspect-ratio: 16/9;
  }
}
