/* You can add global styles to this file, and also import other style files */

// use angular material library
@use '@angular/material' as mat;
// include the core components of angular material
@include mat.core();
// define dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  // only include `typography` and `density` in the default dark theme
  typography: mat.define-typography-config(),
  density: 0,
));
// define light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette),
  ),
));
// apply dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.fab-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.slide-toggle-theme($dark-theme);
@include mat.button-toggle-theme($dark-theme);
@include mat.sidenav-theme($dark-theme);
@include mat.menu-theme($dark-theme);
@include mat.icon-theme($dark-theme);
@include mat.card-theme($dark-theme);
@include mat.tabs-theme($dark-theme);
@include mat.list-theme($dark-theme);
// apply light theme when user prefers light themes
@media (prefers-color-scheme: light) {
  // use the `-color` mixins to only apply color styles without reapplying the same typography and density styles
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.fab-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.slide-toggle-color($light-theme);
  @include mat.button-toggle-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.tabs-color($light-theme);
  @include mat.list-color($light-theme);
}
// dark theme class
.dark-theme{
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.fab-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.slide-toggle-color($dark-theme);
  @include mat.button-toggle-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.menu-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.tabs-color($dark-theme);
  @include mat.list-color($dark-theme);
}
// light theme class
.light-theme{
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.fab-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.slide-toggle-color($light-theme);
  @include mat.button-toggle-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.tabs-color($light-theme);
  @include mat.list-color($light-theme);
}

// layout and typography styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// control overall layout and navigation
.menu-spacer-full {
  flex: 1 1 auto;
}
.menu-spacer-small {
  width: 1em;
}
.page-header {
  height: 8dvh !important;
}
.page-container {
  height: 92dvh;
}
.page-content {
  padding: 0 0;
}
.navigation-sidebar{
  padding: 1dvh 1dvw;
}

// ensures tab card content fills page height
.tab-group {
  height: 100%;
}
.mat-mdc-tab-body-wrapper {
  height: 100%;
}
.card-container {
  height: 100%;
}
