/* You can add global styles to this file, and also import other style files */

// use angular material library
@use '@angular/material' as mat;
// include the core components of angular material
@include mat.core();
// define dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
    warn: mat.define-palette(mat.$amber-palette),
  ),
  // only include `typography` and `density` in the default dark theme
  typography: mat.define-typography-config(),
  density: 0,
));
// define light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$deep-purple-palette),
    accent: mat.define-palette(mat.$amber-palette),
    warn: mat.define-palette(mat.$deep-orange-palette),
  ),
));
// apply dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.fab-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.slide-toggle-theme($dark-theme);
@include mat.button-toggle-theme($dark-theme);
@include mat.sidenav-theme($dark-theme);
@include mat.menu-theme($dark-theme);
@include mat.icon-theme($dark-theme);
@include mat.card-theme($dark-theme);
@include mat.tabs-theme($dark-theme);
@include mat.list-theme($dark-theme);
@include mat.divider-theme($dark-theme);
// apply light theme when user prefers light themes
@media (prefers-color-scheme: light) {
  // use the `-color` mixins to only apply color styles without reapplying the same typography and density styles
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.fab-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.slide-toggle-color($light-theme);
  @include mat.button-toggle-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.tabs-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.divider-color($light-theme);
}
// dark theme class
.dark-theme{
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.fab-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.slide-toggle-color($dark-theme);
  @include mat.button-toggle-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.menu-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.tabs-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.divider-color($dark-theme);

  .is-active .mdc-list-item__primary-text {
    color: #ffc107;
  }
}
// light theme class
.light-theme{
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.fab-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.slide-toggle-color($light-theme);
  @include mat.button-toggle-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.tabs-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.divider-color($light-theme);

  a:hover {
    background-color: #dbcff1;
  }

  .is-active .mdc-list-item__primary-text {
    color: #ff5722;
  }
  .mat-mdc-card.page-card {
    background-color: #d1c4e9;
  }
  .card-container img {
    background-color: #fafafa;
    box-shadow: 0 0.25em 0.25em #f0f0f0 inset, 0 -0.25em 0.25em #f0f0f0 inset;
  }
  @media only screen and (min-width: 1200px) {
    .mat-mdc-card.card-container {
      background-color: #d1c4e9;
    }
    .card-container h2 {
      border-bottom-color: #bbafd1;
    }
  }
}

// layout and typography styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// default styling for hyperlinks
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  background-color: #4d4d4d;
}

// control overall layout and navigation
.menu-spacer-full {
  flex: 1 1 auto;
}
.menu-spacer-small {
  width: 1em;
}
.page-header {
  min-height: 60px;
  max-height: 80px;
  height: 10dvh !important;
}
.page-container {
  min-height: calc(100dvh - 80px);
  height: 90dvh;
}
.page-content {
  padding: 0 0;
}
.navigation-sidebar{
  padding: 1dvh 1dvw;
}

// ensures tab card content fills page height
.tab-group {
  height: 100%;
}
.mat-mdc-tab-body-wrapper {
  height: 100%;
}
.card-container {
  display: flex;
  align-items: flex-start; // fixes image stretching in ios safari
  height: 100%;
  overflow: scroll;
}
.card-container img {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #303030;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 35%;
  padding-right: 35%;
  box-shadow: 0 0.25em 0.25em #2a2a2a inset, 0 -0.25em 0.25em #2a2a2a inset;
}

// control the formatting of card on home page
.page-card {
  width: 80%;
  margin-top: 4dvh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em !important;
}

// style random icon selector
.random-icon {
  margin-top: 4dvh;
  width: 100%;
  text-align: center;
}
.random-icon h3, .random-icon button {
  margin-left: auto;
  margin-right: auto;
}

// style card list
.mdc-list-item__secondary-text {
  white-space: normal !important;
  padding-bottom: 10px;
}
.card-list-item {
  height: min-content !important;
}
.mat-mdc-list-item-icon {
  margin-left: 0 !important;
  margin-right: 0.25em !important;
}

// style navigation sidebar backdrop
.mat-drawer-transition .mat-drawer-backdrop {
  opacity: 0; // hide animation
}
.mat-drawer-backdrop .mat-drawer-shown {
  opacity: 0; // hide backdrop, but keep function
}

// wide screen only formatting
@media only screen and (min-width: 1200px) {
  .mat-divider {
    visibility: hidden;
  }
  .card-container {
    max-width: 80dvw;
    width: max-content;
    height: min-content;
    padding-bottom: 1em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em !important;
  }
  .card-container h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    border-bottom-style: solid;
    border-bottom-color: #595959;
    border-bottom-width: 1px;
  }
  .card-container .card-list-item {
    text-align: center;
    flex-direction: column;
    padding: 0 !important;
  }
  .card-container .mat-icon {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .card-container .mat-divider {
    visibility: visible;
  }
  .card-content {
    text-align: center;
  }
  .card-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .page-card {
    width: max-content !important;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-top: 8dvh;
    border-radius: 1em !important;
  }
  .contact-card {
    width: min-content !important;
    padding-left: 2em;
    padding-right: 2em;
  }
  .contact-item {
    flex-direction: column;
    padding: 0 !important;
  }
  .contact-item .mat-icon {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: -0.5em;
  }
  .header-title {
    // calculate center of the page
    margin-left: calc(50dvw - 16px - 48px - 48px - 1em);
  }
}

// style contact list items
.contact-item .mdc-list-item__secondary-text {
  font-size: 3dvw;
  overflow: scroll;
}
@media only screen and (min-width: 600px) {
  .contact-item .mdc-list-item__secondary-text {
    font-size: 1em;
  }
}
