/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.menu-spacer {
  flex: 1 1 auto;
}

.page-header {
  height: 7vh !important;
}

.page-container {
  height: 93vh;
}

.page-content {
  padding: 1vh 1vw;
}

.navigation-sidebar{
  padding: 1vh 1vw;
}
