<mat-card class="page-card contact-card">
  <mat-card-header class="card-header">
    <mat-card-title>Contact Information</mat-card-title>
    <mat-card-subtitle>Direct inquiries to:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-list role="list">
      <mat-list-item role="listitem" class="card-list-item contact-item"><mat-icon matListItemIcon fontIcon="mail"></mat-icon>
        <span matListItemTitle>E-mail:</span>
        <a role="button" href="mailto:marciehenderson.personal@gmail.com">marciehenderson.personal&#64;gmail.com</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="card-list-item contact-item"><mat-icon matListItemIcon fontIcon="link"></mat-icon>
        <span matListItemTitle>LinkedIn:</span>
        <a role="button" href="www.linkedin.com/in/marcie-henderson-1a4030225">Marcie Henderson</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="card-list-item contact-item"><mat-icon matListItemIcon fontIcon="phone"></mat-icon>
        <span matListItemTitle>Phone:</span>
        <a role="button" href="tel:+19023881203">+1 (902) 388-1203</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
