<!-- app is wrapped in themed div element -->
<div [ngClass]="themeClass">
  <!-- app header -->
  <mat-toolbar class="page-header" color="primary" role="heading">
    <span class="header-title"><a mat-flat-button color="primary" role="button" href=""><h1>{{title}}</h1><mat-icon aria-hidden="true" fontIcon="business_center"></mat-icon></a></span>
    <span class="menu-spacer-full"></span>
    <!-- app theme toggle switch -->
    <button mat-mini-fab color="accent" aria-label="Theme Button" (click)="updateThemeMode()">
      <mat-icon aria-hidden="false" aria-label="Theme Icon" [fontIcon]="themeLabel"></mat-icon>
    </button>
    <span class="menu-spacer-small"></span>
    <!-- button expands navigation sidebar -->
    <button mat-mini-fab color="accent" aria-label="Menu Button" (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu Icon" fontIcon="menu"></mat-icon>
    </button>
  </mat-toolbar>
  <!-- page container for content and navbar -->
  <mat-sidenav-container class="page-container">
    <!-- page content appears in router outlet -->
    <mat-sidenav-content class="page-content" (click)="drawer.close()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <!-- expandable navigation sidebar -->
    <mat-sidenav #drawer class="navigation-sidebar" role="navigation" mode="side" position="end">
      <mat-nav-list>
        <mat-list-item routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Home</mat-list-item>
        <mat-list-item routerLink="/about" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">About</mat-list-item>
        <!--mat-list-item>Projects</mat-list-item-->
        <mat-list-item routerLink="/contact" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Contact</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
